.env
__pycache__/
*.pyc
# 민감 정보 제외
*.json
!requirements.txt

*.json
credentials.json

service_account.json

# 인코딩 깨진 파일명 방지
*[\354\210\230\353\217\231\354\273\244\353\260\213]*
# 특정 폴더 내 모든 파일 무시
path/to/broken-folder/*

# .gitignore
*\354*
